<!doctype html>
<html lang="en">
    <head>
        <title>Dogs</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
    </head>

    <body>
        <header>
            <!-- place navbar here -->
        </header>
        <main><br><center>
            <h1>These types of dogs are available in our shop</h1><hr>
            <section style="background-color: #eee;">
                <div class="text-center container py-5">
                   <div class="row">
                    <div class="col-lg-4 col-md-12 mb-4">
                      <div class="card">
                        <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                          data-mdb-ripple-color="light">
                          <img src="https://th.bing.com/th/id/OIP.heSguU0NKAlz6wZj3eNDzQHaEo?rs=1&pid=ImgDetMain"
                            class="w-100" />
                          <a href="#!">
                            <div class="mask">
                              <div class="d-flex justify-content-start align-items-end h-100">
                                
                              </div>
                            </div>
                            <div class="hover-overlay">
                              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </div>
                          </a>
                        </div>
                        <div class="card-body">
                          <a href="{%url 'buy'%}">
                            <h5 class="card-title mb-3">siberian husky</h5>
                          <p>30 days puppy</p>
                          <h6 class="mb-3">Rs. 20000</h6></a>
                        </div>
                        
                      </div>
                      
                    </div>
              
                    <div class="col-lg-4 col-md-6 mb-4">
                      <div class="card">
                        <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                          data-mdb-ripple-color="light">
                          <img src="https://th.bing.com/th/id/OIP.p_kJBZ7k5y3OLg33p1wJ4QHaFC?rs=1&pid=ImgDetMain"
                            class="w-100" />
                          <a href="#!">
                            <div class="mask">
                              <div class="d-flex justify-content-start align-items-end h-100">
                                
                              </div>
                            </div>
                            <div class="hover-overlay">
                              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </div>
                          </a>
                        </div>
                        <div class="card-body">
                            <a href="{%url 'buy'%}">
                            <h5 class="card-title mb-3">German Shepherd</h5>
                          
                         
                            <p>40 days puppy</p>
                          
                          <h6 class="mb-3">Rs. 50000</h6>
                        </a>
                          
                        </div>
                      </div>
                    </div>
              
                    <div class="col-lg-4 col-md-6 mb-4">
                      <div class="card">
                        <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                          <img src="https://th.bing.com/th/id/OIP.g0p9GzecZBmWjsSYrsvt1AHaE8?rs=1&pid=ImgDetMain"
                            class="w-100" />
                          <a href="#!">
                            <div class="mask">
                              <div class="d-flex justify-content-start align-items-end h-100">
                                
                              </div>
                            </div>
                            <div class="hover-overlay">
                              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </div>
                          </a>
                        </div>
                        <div class="card-body">
                          <a href="{%url 'buy'%}">
                            <h5 class="card-title mb-3">Labrador Retriever</h5>
                         
                      
                            <p>30 days puppy</p>
                      
                            <h6 class="mb-3">
                            Rs. 10000
                          </h6>
                        </a>
                          
                        </div>
                      </div>
                    </div>
                  </div>
              
                  <div class="row">
                    <div class="col-lg-4 col-md-12 mb-4">
                      <div class="card">
                        <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                          <img src="https://yourpetplanet.com/wp-content/uploads/2023/12/Pug.jpg"
                            class="w-100" />
                          <a href="#!">
                            <div class="mask">
                              <div class="d-flex justify-content-start align-items-end h-100">
                              </div>
                            </div>
                            <div class="hover-overlay">
                              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </div>
                          </a>
                        </div>
                        <div class="card-body">
                            <a href="{%url 'buy'%}">
                            <h5 class="card-title mb-3">Pug</h5>
                         
                          
                            <p>30 days puppy</p>
                          
                          <h6 class="mb-3">
                            Rs. 15000
                          </h6>
                        </a>
                          
                        </div>
                      </div>
                    </div>
              
                    <div class="col-lg-4 col-md-6 mb-4">
                      <div class="card">
                        <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                          data-mdb-ripple-color="light">
                          <img src="https://th.bing.com/th/id/R.53abca2d5c19b770a28205de25977876?rik=95Gcy31wNrWN4Q&riu=http%3a%2f%2fwww.petguide.com%2fwp-content%2fuploads%2f2013%2f02%2fbeagle-1.jpg&ehk=O5TbIG8SdlQUhyXhQaWVMkuQG4NXzpzBd6tcvIcj8xw%3d&risl=&pid=ImgRaw&r=0"
                            class="w-100" />
                          <a href="#!">
                            <div class="mask">
                              <div class="d-flex justify-content-start align-items-end h-100"></div>
                            </div>
                            <div class="hover-overlay">
                              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </div>
                          </a>
                        </div>
                        <div class="card-body">
                            <a href="{%url 'buy'%}">
                            <h5 class="card-title mb-3">Beagle</h5>
                          
                          
                            <p>2 month puppy</p>
                          
                          <h6 class="mb-3">Rs. 20000</h6>
                        </a>
                        </div>
                      </div>
                    </div>
              
                    <div class="col-lg-4 col-md-6 mb-4">
                      <div class="card">
                        <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                          <img src="https://www.kimballstock.com/pix/pup/12/pup-12-gr0005-01p.jpg"
                            class="w-100" />
                          <a href="#!">
                            <div class="mask">
                              <div class="d-flex justify-content-start align-items-end h-100">
                               
                              </div>
                            </div>
                            <div class="hover-overlay">
                              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </div>
                          </a>
                        </div>
                        <div class="card-body">
                            <a href="{%url 'buy'%}">
                            <h5 class="card-title mb-3">Rottweiler</h5>
                         
                            <p>30 days puppy</p>
                            <h6 class="mb-3">Rs. 30000</h6></a>
                        </div>
                      </div>
                    </div>
                    
                  </div>
                </div><hr>
                
              </section>    
        <h2>Thank you for visiting our shop</h2><br><br>
            </center>
        </main>
        <footer>
            <!-- place footer here -->
        </footer>
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
